<div class='dummy-body checkbox'>
  <hr>

  <div class='section'>

    <div class='example'>
      <div class='demo'>
        {{frost-numeric-select
          hook='myNumeric'
          isArrowVisible=true
          isAllowUseDownButtonToNegative=true
        }}
      </div>
    </div>

  </div>
</div>
