$frost-font-family: Roboto, Arial, sans-serif;

$frost-font-xxxl: 45px !default;
$frost-font-xxl: 36px !default;
$frost-font-xl: 29px !default;
$frost-font-l: 23px !default;
$frost-font-m: 18px !default;
$frost-font-s: 14px !default;
$frost-font-xs: 12px !default;
