// ================================================================
// Base variables
// ================================================================

@import 'colors';
@import 'typography';

// ================================================================
// Aliased variables
// ================================================================

// Global
$frost-color-input: $frost-color-grey-2 !global;
$frost-color-input-border: $frost-color-grey-6 !global;
$frost-color-input-error-border: $frost-color-danger !global;
$frost-color-input-focus-border: $frost-color-blue-1 !global;
$frost-color-input-disabled-border: $frost-color-lgrey-1 !global;
$frost-color-input-disabled-bg: $frost-color-lgrey-3 !global;
$frost-color-selection: $frost-color-blue-1 !global;
$frost-color-button-focus-shadow: rgba($frost-color-blue-1, 0.75) !global;

// Buttons
$frost-color-button-primary: $frost-color-white !global;
$frost-color-button-primary-bg: $frost-color-blue-1 !global;
$frost-color-button-primary-hover-bg: $frost-color-blue-3 !global;
$frost-color-button-primary-active: $frost-color-blue-4 !global;

$frost-color-button-secondary: $frost-color-blue-1 !global;
$frost-color-button-secondary-bg: $frost-color-white !global;
$frost-color-button-secondary-border: $frost-color-blue-1 !global;
$frost-color-button-secondary-active: $frost-color-blue-3 !global;
$frost-color-button-secondary-active-bg: rgba($frost-color-blue-1, 0.1) !global;
$frost-color-button-secondary-hover-bg: rgba($frost-color-blue-1, 0.1) !global;

$frost-color-button-tertiary: $frost-color-blue-1 !global;
$frost-color-button-tertiary-bg: inherit !global;
$frost-color-button-tertiary-hover-bg: rgba($frost-color-blue-1, 0.05) !global;
$frost-color-button-tertiary-active: $frost-color-blue-3 !global;

// Select
$frost-color-select-container-background: $frost-color-white !global;
$frost-color-select-container-shadow: $frost-color-grey-5 !global;
$frost-color-select-footer-divider: $frost-color-blue-1 !global;
$frost-color-select-indicator: $frost-color-grey-5 !global;
$frost-color-select-item-divider: $frost-color-lgrey-1 !global;

// ================================================================
// Deprecated
// ================================================================

// TODO: deprecate the variables below in favor of the -color- ones above
// global
$frost-input: $frost-color-grey-1 !global;
$frost-input-border: $frost-color-lgrey-2 !global;
$frost-selection: $frost-color-blue-1 !global;

// button
$frost-button-primary: $frost-color-white !global;
$frost-button-primary-background: $frost-color-blue-1 !global;
$frost-button-tertiary: $frost-color-blue-1 !global;

// select
$frost-select-container-background: $frost-color-white !global;
$frost-select-container-shadow: $frost-color-grey-5 !global;
$frost-select-footer-divider: $frost-color-blue-1 !global;
$frost-select-indicator: $frost-color-grey-5 !global;
$frost-select-item-divider: $frost-color-lgrey-1 !global;
