<div class='loading-container'>
  <div class="flex-container">
    <div class="text">Ripple:</div>
    {{frost-loading}}
  </div>
  <div class="flex-container">
    <div class="text">Ring:</div>
    {{frost-loading type='ring'}}
  </div>
</div>
