{
  "extends": ["frost-standard"],
  "globals": {
    "CSS": true,
    "afterEach": false,
    "beforeEach": false,
    "describe": false,
    "it": false
  },
  "rules": {
    "ocd/sort-import-declarations": [
      2,
      {
        "localPrefixes": [
          "../",
          "./",
          "dummy/",
          "ember-frost-core/"
        ]
      }
    ]
  }
}
