sudo: false
dist: trusty
language: node_js

node_js:
- '8.1.2'

addons:
  chrome: stable
  firefox: 'latest'

cache:
  directories:
    - node_modules

env:
  global:
    # See https://git.io/vdao3 for details.
    - JOBS=1
    - secure: am37NChGdcjo/AXKwsJLs0PvshDIxMTb5JYWrBEFnDbF8ZyOPewwD1qbec882RMCXLiwJQAO/TRAGaytEDCibuUNpFXZxi+R6e698SyoydFoSU8SUyLvvwYkJN86S0UA3BTbWYDWY9gCetDWPtqCp8MFUuvz9RukeCDhV9Vve5IsY+LJeE6fpm6vu3Qzky18cVx2zhRSC5Hl0e51oeZJfuoyk8oG56wKr6a4XfhUeodtJisNND0sNKcSvzaENHUSVUqDEiSSWZ9g+5mByR+GR1vpPyRrWorrXp2Ksu94mlGhbqqWzTRY6Fp0EY5NsGcknxkvJJHaDk8dBx1I/SqVQkUK6tMV9WQrbLKimrMTUUKZLB2u5/SHVCCsQWQtIsDC9+dex9+h95DC8UotG8H3Lxotoo3K3qgtIkzSaLqYJyNa3N28coIJGnL1oCJwJO6ab0mcrE6YCqrppVaXf9JsAgW+p89qUZyhiNSRCCajoubcJclg4LHxWNTTOMsbzUg5b4dFdsGRYnVNIOGi/83/oCkDcJVAyj+cK1DF7dM7PJgaCElvwuOVILUbxU20N+ED/XDa4GfpHIXYgTmENLTX8QUcAptEIHpadUQYpAnQ0G7ze4ZdYCYBWfrY4pANBVYPS0q4agEbvujndY3VOXwhyRBavX+AxiWBAscRagFwJkc=
  matrix:
  - EMBER_TRY_SCENARIO=ember-2.8
  - EMBER_TRY_SCENARIO=ember-lts-2.12
  - EMBER_TRY_SCENARIO=ember-release
  - EMBER_TRY_SCENARIO=ember-beta
  - EMBER_TRY_SCENARIO=ember-canary
  - EMBER_TRY_SCENARIO=ember-default

matrix:
  fast_finish: true
  allow_failures:
  - env: EMBER_TRY_SCENARIO=ember-beta
  - env: EMBER_TRY_SCENARIO=ember-canary


before_install:
- npm config set spin false
- npm install -g coveralls pr-bumper@^3.1.0
- $(npm root -g)/pr-bumper/.travis/maybe-check-scope.sh

install:
- bower install
- $(npm root -g)/pr-bumper/.travis/maybe-install.sh

before_script:
- "export DISPLAY=:99.0"
- "sh -e /etc/init.d/xvfb start"
- sleep 3 # give xvfb some time to start

script:
- $(npm root -g)/pr-bumper/.travis/maybe-test.sh
- .travis/maybe-check-coverage.sh
- .travis/maybe-bump-version.sh

after_success:
- .travis/maybe-publish-coverage.sh
- .travis/maybe-publish-gh-pages.sh

deploy:
  provider: npm
  email: npm.ciena@gmail.com
  skip_cleanup: true
  api_key:
    secure: j+PdE0z9ETyB6wsImMouiUD1m2VOuSXWeb0Qu1b5C1oq6lx7iR87WR+H+GS7R7ndec1Zh/ojWK+pzDBc15744p/gigYAtNWNP9+kzhWwIC5FyjXwWHc8rbIt1SzWsNVgI2O3r7cOXmCqOXtQ/oO3UcwambzefuLnS1g4W5PgAL+t1sWreG+esfubPXeVp/FPTSac5IotI0gzg99Ko17Q/CM0+rrGN88jY9X/MofEN3ERp0ahPMTUNh8DBq8h/fnhlV6BrpJiVoriJKzdAP9m6QzK1BrAmtToF+gJX9eJJMoxBXI+ckVFWuWiGG/IXPAtur4s9UwpIxuFQ3deDi8r20t/7Tgexvh+Oi6vKwfZV9P+e2c4/9HAFCiXNv14n0YHmI+Gz/hIpt+VtAoL9EmpHDWsQI+PMgdjeJBIK5hQCPppLpQiUD8w4FxTOAuIZVpEefiQ6H4G1RRbOWBHzTIKOmGozxmlzrKkR8V81e/Q03+uQvSNGKwcmGdrNME8rCmpanI20s7QcYt8hoDIVBpWJHEjcIza0wsfHmLMi81/2vBt17VIBA+vZgyMNp4K9DwCGWeBcp9XAnARTrhcaVKLUVVhB36jog0oM5we6aRxSSnAGWLLN7VtgojLcUvW+yl/gCXibjyhdJBslvaTy1liCMQcEdVWp9o1hBjQko4aZUs=
  on:
    all_branches: true
    condition: "$EMBER_TRY_SCENARIO = 'ember-default'"
    node: '8.1.2'
    tags: true

notifications:
  slack:
    secure: NGi2iQT9BivUq08QFAd7cV3sWLntIYgrPU7rk+cZh6zEFTT0SOBnmYtPyftMYxOG2nMsnEvGOsQf0yyFsyIA91QYnEZSRyRYKSI1O5zuKdo+ntIk5m+QhrKuDMld+4MGimV5dBHvf6wMdQmJU6G9Of5c0ZN6bidNFdcBn64CEAXaehqROsz0gMErBI3bemHA0Xo0DROU7u8TwmXbJEBliy8V29yTkd9fOhpiCWQx3wSEU9fPqsVEu+E6ms6tkFdAoDmdyw+E7QUyZro7ZIk97zJhuaCnn7+lBhVeh+9bwdjju95YaecyMY3uKZVWT+qM0A4rIWQO6sOIBshzPswA3gFtfgs0cAR4zrIqPI0LOcmfnSJQgf19t6sIw+5PPRRp5D9ESh+nVV6+t8hF6G7xXvmSfQ7OGxIQPR6KBnvU2SqOdn98mCWMvpLRdVAP4z9nPQaxCWc9zyg/eyJ28zKacgH/Tatyc3IfSkome9HXTOewno+FCgq2w8YNpzJNUsoOIgtwRt+z8YwpUNapAeiH6Gia0NH5pCkIQxiniOwM4Mo13whQwUQVB8eRlJ1FqbNWIg+U/dTnNoDFDvhdKzxIhd1j2L8/+8iy1G7BWHcAb6DEaSp/ONX+cLnpE2t3B3Xyy7p5aPKVaUr8gE2r68oZ0P4ZDcYNKD1HQ5PiTGzDdM4=
