<div class='dummy-body checkbox'>
  <hr>

  <div class='section'>

    <div class='example'>
      <div class='demo'>
        {{frost-numeric-field
          hook='myNumeric'
          isIncrementControlVisible=true
          allowNegativeValues=true
          value=value
          onInput=(action 'foo')
          size='large'
        }}
      </div>
    </div>

  </div>
</div>
