<div class='dummy-body checkbox'>
  <hr>

  <div class='section'>

    <div class='example'>
      <div class='demo'>
        {{frost-numeric-field
          hook='myNumeric'
          isIncrementControlVisible=true
          allowNegativeValues=false
          value='3'
        }}
      </div>
    </div>

  </div>
</div>
