{{frost-select-outlet hook="mySelectOutlet"}}
{{frost-autocomplete-outlet hook="myAutocompleteOutlet"}}
<div class="dummy-notification-container">
  {{notification-container position='top-right'}}
</div>

<div class="dummy-body">
  <div class="dummy-content">
    {{outlet}}
  </div>
</div>
