<div class="dummy-body">
  <li class='header-2'>{{#link-to "text-input.field"}}Textfield{{/link-to}}</li>
<!--  <li class='header-2'>{{!#link-to "text-input.area"}}Text area{{!/link-to}}</li>-->
</div>
