<div class="dummy-body link">

  <div class="section">
    <div class="example">
      <div class="title">whites</div>
      <div class='swatches'>
        <div class='swatch'><div class='content text'>$frost-color-white</div><div class='content white'></div></div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="example">
      <div class="title">blues</div>
      <div class='swatches'>
        <div class='swatch'><div class='content text'>$frost-color-blue-1</div><div class='content blue-1'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-blue-2</div><div class='content blue-2'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-blue-3</div><div class='content blue-3'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-blue-4</div><div class='content blue-4'></div></div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="example">
      <div class="title">nights</div>
      <div class='swatches'>
        <div class='swatch'><div class='content text'>$frost-color-night-1</div><div class='content night-1'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-night-2</div><div class='content night-2'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-night-3</div><div class='content night-3'></div></div>
      </div>
    </div>
  </div>

  <div class="section">
     <div class="example">
      <div class="title">oranges</div>
      <div class='swatches'>
        <div class='swatch'><div class='content text'>$frost-color-orange-1</div><div class='content orange-1'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-orange-2</div><div class='content orange-2'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-orange-3</div><div class='content orange-3'></div></div>
      </div>
    </div>
  </div>

  <div class="section">
     <div class="example">
      <div class="title">greens</div>
      <div class='swatches'>
        <div class='swatch'><div class='content text'>$frost-color-green-1</div><div class='content green-1'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-green-2</div><div class='content green-2'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-green-3</div><div class='content green-3'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-green-4</div><div class='content green-4'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-green-5</div><div class='content green-5'></div></div>
      </div>
    </div>
  </div>

  <div class="section">
     <div class="example">
      <div class="title">teals</div>
      <div class='swatches'>
        <div class='swatch'><div class='content text'>$frost-color-teal-1</div><div class='content teal-1'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-teal-2</div><div class='content teal-2'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-teal-3</div><div class='content teal-3'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-teal-4</div><div class='content teal-4'></div></div>
      </div>
    </div>
  </div>

  <div class="section">
     <div class="example">
      <div class="title">lilacs</div>
      <div class='swatches'>
        <div class='swatch'><div class='content text'>$frost-color-lilac-1</div><div class='content lilac-1'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-lilac-2</div><div class='content lilac-2'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-lilac-3</div><div class='content lilac-3'></div></div>
      </div>
    </div>
  </div>

  <div class="section">
     <div class="example">
      <div class="title">greys</div>
      <div class='swatches'>
        <div class='swatch'><div class='content text'>$frost-color-grey-1</div><div class='content grey-1'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-grey-2</div><div class='content grey-2'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-grey-3</div><div class='content grey-3'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-grey-4</div><div class='content grey-4'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-grey-5</div><div class='content grey-5'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-grey-6</div><div class='content grey-6'></div></div>
      </div>
    </div>
  </div>

  <div class="section">
     <div class="example">
      <div class="title">light greys</div>
      <div class='swatches'>
        <div class='swatch'><div class='content text'>$frost-color-lgrey-1</div><div class='content lgrey-1'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-lgrey-2</div><div class='content lgrey-2'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-lgrey-3</div><div class='content lgrey-3'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-lgrey-4</div><div class='content lgrey-4'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-lgrey-5</div><div class='content lgrey-5'></div></div>
      </div>
    </div>
  </div>

  <div class="section">
     <div class="example">
      <div class="title">status</div>
      <div class='swatches'>
        <div class='swatch'><div class='content text'>$frost-color-positive</div><div class='content positive'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-neutral</div><div class='content neutral'></div></div>
        <div class='swatch'><div class='content text'>$frost-color-danger</div><div class='content danger'></div></div>
      </div>
    </div>
  </div>


</div>
