<div class="dummy-body">
  <div class='header-2'>Typography</div>
  <div class='swatches'>
    <div class='swatch'><div class='content text'>$frost-font-family</div><div class='content font-family-1'>Roboto</div></div>
    <div class='swatch'><div class='content text'>$frost-font-family fallback 1</div><div class='content font-family-2'>Arial</div></div>
    <div class='swatch'><div class='content text'>$frost-font-family fallback 2</div><div class='content font-family-3'>sans-serif</div></div>

    <div class='swatch'><div class='content text'>$frost-font-xxxl</div><div class='content font-xxxl'>XXXL Font Size</div></div>
    <div class='swatch'><div class='content text'>$frost-font-xxl</div><div class='content font-xxl'>XXL Font Size</div></div>
    <div class='swatch'><div class='content text'>$frost-font-xl</div><div class='content font-xl'>XL Font Size</div></div>
    <div class='swatch'><div class='content text'>$frost-font-l</div><div class='content font-l'>L Font Size</div></div>
    <div class='swatch'><div class='content text'>$frost-font-m</div><div class='content font-m'>M Font Size</div></div>
    <div class='swatch'><div class='content text'>$frost-font-s</div><div class='content font-s'>S Font Size</div></div>
    <div class='swatch'><div class='content text'>$frost-font-xs</div><div class='content font-xs'>XS Font Size</div></div>
  </div>
</div>
