<div class="dummy-body scroll">

  <div class="section-title">Default</div>
  <hr>
  <div class="section">
    <div class="example">
      <div class="demo scroll-size">
        {{! BEGIN-SNIPPET scroll }}
        {{#frost-scroll class='full'
          onScrollUp=(action 'onScrollUp')
          onScrollDown=(action 'onScrollDown')
          onScrollYStart=(action 'onScrollYStart')
          onScrollYEnd=(action 'onScrollYEnd')
          on-scroll-y-end=(action 'yEndReached')
        }}
          {{frost-icon icon='frost/add' class='dummy-svg-huge'}}
        {{/frost-scroll}}
        {{! END-SNIPPET }}
      </div>

      <div class='snippet'>
        <div>Template</div>
        {{code-snippet name='scroll.hbs'}}
      </div>
    </div>

  </div>
</div>
