/** The content of this file must stay in sync
 * with app/styles/ember-frost-core/_colors
 * Any changes here should be duplicated in there
 */

$frost-color-white: #fff !default;

$frost-color-blue-1: #009eef !default;
$frost-color-blue-2: #005582 !default;
$frost-color-blue-3: #43c9f7 !default;
$frost-color-blue-4: #a1e7ff !default;

$frost-color-night-1: #637582 !default;
$frost-color-night-2: #33424f !default;
$frost-color-night-3: #859ca8 !default;

$frost-color-orange-1: #f06034 !default;
$frost-color-orange-2: #cc3405 !default;
$frost-color-orange-3: #ffb9a6 !default;

$frost-color-green-1: #359e35 !default;
$frost-color-green-2: #1f4f18 !default;
$frost-color-green-3: #407237 !default;
$frost-color-green-4: #2cce4e !default;
$frost-color-green-5: #c2efc7 !default;

$frost-color-teal-1: #099 !default;
$frost-color-teal-2: #005957 !default;
$frost-color-teal-3: #00d3cd !default;
$frost-color-teal-4: #a1e7ff !default;

$frost-color-lilac-1: #a183db !default;
$frost-color-lilac-2: #4c318c !default;
$frost-color-lilac-3: #e8dffb !default;

$frost-color-grey-1: #404041 !default;
$frost-color-grey-2: #231f20 !default;
$frost-color-grey-3: #666 !default;
$frost-color-grey-4: #7b7f7f !default;
$frost-color-grey-5: #929497 !default;
$frost-color-grey-6: #babcbe !default;
$frost-color-grey-7: #cdcdcd !default;

$frost-color-lgrey-1: #e8e8ef !default;
$frost-color-lgrey-2: #ddd !default;
$frost-color-lgrey-3: #f5f6f7 !default;
$frost-color-lgrey-4: #f8f9f9 !default;
$frost-color-lgrey-5: #f2f2f2 !default;

// TODO The following three colors should be in a theme an come from the palette (talk to Brain about palette)
$frost-color-positive: #86c43b !default;
$frost-color-neutral: #efc059 !default;
$frost-color-danger: #d1625e !default;
