$frost-color-white: #FFFFFF !default;

$frost-color-blue-1: #009EEF !default;
$frost-color-blue-2: #005582 !default;
$frost-color-blue-3: #43C9F7 !default;
$frost-color-blue-4: #A1E7FF !default;

$frost-color-night-1: #637582 !default;
$frost-color-night-2: #33424F !default;
$frost-color-night-3: #859CA8 !default;

$frost-color-orange-1: #F06034 !default;
$frost-color-orange-2: #CC3405 !default;
$frost-color-orange-3: #FFB9A6 !default;

$frost-color-green-1: #359E35 !default;
$frost-color-green-2: #1F4F18 !default;
$frost-color-green-3: #407237 !default;
$frost-color-green-4: #2CCE4E !default;
$frost-color-green-5: #C2EfC7 !default;

$frost-color-teal-1: #009999 !default;
$frost-color-teal-2: #005957 !default;
$frost-color-teal-3: #00D3CD !default;
$frost-color-teal-4: #A1E7FF !default;

$frost-color-lilac-1: #A183DB !default;
$frost-color-lilac-2: #4C318C !default;
$frost-color-lilac-3: #E8DFFB !default;

$frost-color-grey-1: #404041 !default;
$frost-color-grey-2: #231F20 !default;
$frost-color-grey-3: #666666 !default;
$frost-color-grey-4: #7B7F7F !default;
$frost-color-grey-5: #929497 !default;
$frost-color-grey-6: #BABCBE !default;

$frost-color-lgrey-1: #E8E8EF !default;
$frost-color-lgrey-2: #DDDDDD !default;
$frost-color-lgrey-3: #F5F6F7 !default;
$frost-color-lgrey-4: #F8F9F9 !default;
$frost-color-lgrey-5: #F2F2F2 !default;

// TODO The following three colors should be in a theme an come from the palette (talk to Brain about palette)
$frost-color-positive: #86C43B !default;
$frost-color-neutral: #EFC059 !default;
$frost-color-danger: #D1625E !default;
