.frost-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.disabled {
    opacity: 0.4;
  }

  .frost-toggle-input {
    display: none;

    &.is-toggled + .frost-toggle-button {
      background-color: $frost-color-blue-1;
    }

    &.is-toggled + .frost-toggle-button:after {
      right: 50%;
    }
  }

  .frost-toggle-button.disabled {
    cursor: default;
  }

  .frost-toggle-button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    outline: 0;
    background-color: $frost-color-lgrey-1;
    cursor: pointer;

    &.medium {
      width: 115px;
      height: 35px;
      padding: 3px;
      border-radius: 3px;
    }

    &:after {
      transition: right 0.2s;
      border-radius: 3px;
      background-color: $frost-color-white;
    }

    &:before,
    &:after {
      display: block;
      position: absolute;
      width: 40px;
      height: 27px;
      margin: 0 10px 0 0;
      content: "";
    }

    &:after {
      right: 0;
    }
    &:before {
      display: none;
    }

    .frost-toggle-text {
      flex: 1;
      text-align: center;

      &.off {
        color: black;
      }
      &.on {
        color: white;
      }
    }
  }
}
