// TODO: get these from theme?
$frost-input-text-height: 35px;
$frost-input-select-option-row-height: 35px;

@mixin triangle-up($color, $size) {
  border-bottom: $size solid $color;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  height: 0;
  width: 25px;
}

.frost-select {
  border: solid 1px $frost-color-input-border;
  cursor: pointer;
  display: inline-block;
  height: $frost-input-text-height;
  min-width: 125px;
  outline: none;
  position: relative;
  width: 200px;

  .up-arrow {
    @include triangle-up($frost-select-container-background, 12px);
    display: inline-block;
    left: calc(50% - 15px);
    overflow: visible;
    pointer-events: none;
    position: absolute;
    right: 8px;
    top: -10px;
    z-index: 3;
  }

  .drop-down-container {
    background: $frost-select-container-background;
    border: 1px solid $frost-color-lgrey-3;
    border-radius: 3px;
    box-shadow: 0 2px 7px 3px transparentize($frost-select-container-shadow, .4);
    left: -1px;
    margin-bottom: 1em;
    opacity: 0;
    position: absolute;
    top: calc(100% + 10px);
    transition: height .4s ease, opacity .2s ease;
    width: calc(100% + 2px);
    pointer-events: none;
  }

  input.trigger {
    background: none;
    border: 0;
    color: $frost-color-input;
    height: 100%;
    outline: none;
    overflow: hidden;
    padding: 0 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 75%;
  }

  ul {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    height: 0;
  }

  li {
    border-bottom: solid 1px $frost-color-lgrey-3;
    color: $frost-color-grey-5;
    cursor: pointer;
    display: inline-block;
    height: $frost-input-select-option-row-height;
    line-height: $frost-input-select-option-row-height;
    padding: 0 15px;
    width: 100%;
    .frost-checkbox {
      input {
        visibility: hidden;
      }
      pointer-events: none;
      box-sizing: content-box;
      position: relative;
      top: -2px;
      svg {
        top: 8px;
        left: 2px;
      }
    }
  }

  .hover {
    background: transparentize($frost-selection, .92);
  }

  .selected {
    color: $frost-color-grey-2;
  }

  .down-arrow {
    height: 20px;
    position: absolute;
    right: 10px;
    top: 7px;
    width: 20px;

    polygon {
      fill: $frost-select-indicator;
    }
  }
}

.frost-select.open {
  .drop-down-container {
    height: auto;
    opacity: 1;
    z-index: 2;
    pointer-events: auto;
    ul {
      height: auto;
    }
  }
}

.frost-select.multi {
  li {
    padding: 0 10px;
  }

  .multi-status {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px $frost-color-lgrey-3;
    padding: 10px;
    font-size: $frost-font-m;

    .number-selected {
      color: $frost-color-grey-5;
    }
    // TODO frost-button with tertiary style
    .clear {
      color: $frost-color-button-tertiary;
      float: right;
      text-decoration: none;
    }
  }
}

.frost-select.focus {
  border: solid 1px $frost-selection;

  .down-arrow {
    polygon {
      fill: $frost-selection;
    }
  }
}

.frost-select.error {
  border: solid 1px $frost-color-danger;
  .down-arrow {
    polygon {
      fill: $frost-select-indicator;
    }
  }
}

.frost-select.disabled {
  background-color: $frost-color-input-disabled-bg;
  border: 1px solid $frost-color-input-disabled-border;
  color: $frost-color-grey-6;
  cursor: default;

  input {
    color: inherit;
  }

  .down-arrow {
    polygon {
      fill: $frost-color-grey-6;
    }
  }
}
