.frost-checkbox {
  display: inline-block;
  position: relative;

  &.error {
    > .label {
      &::before {
        border: 1px solid $frost-checkbox-border-error;
      }
    }
  }

  &.small {
    > .label {
      &::before  {
        width: 20px;
        height: 20px;
      }
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &.medium {
    > .label {
      &::before {
        width: 25px;
        height: 25px;
      }
    }

    svg {
      width: 25px;
      height: 25px;
    }
  }

  &.large {
    > .label {
      &::before {
        width: 30px;
        height: 30px;
      }
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }

  .input {
    &[type=checkbox] {
      display: none;
      position: absolute;
      top: 2px;
      left: 2px;
      outline: none;
    }

    &:checked {
      + {
        .label {
          svg {
            visibility: visible;
          }
        }
      }

      &:disabled {
        + {
          .label {
            svg {
              fill: $frost-checkbox-disabled-icon;
            }
          }
        }
      }
    }

    &:focus {
      + {
        .label {
          &::before {
            border: 1px solid $frost-checkbox-border-focus;
            background-image: linear-gradient(lighten($frost-checkbox-selected, 50%), lighten($frost-checkbox-selected, 45%));
          }
        }
      }
    }
  }

  .label {
    display: inline-block;
    position: relative;
    color: $frost-checkbox-label-default;
    font-size: $frost-font-s;
    cursor: pointer;
    user-select: none;

    &::before {
      display: inline-block;
      position: relative;
      margin-right: 5px;
      border: 1px solid $frost-checkbox-border-default;
      background-image: linear-gradient($frost-color-white, $frost-color-input-disabled-bg);
      content: '';
      vertical-align: middle;
    }

    &:focus {
      outline: none;

      &::before {
        border: 1px solid $frost-checkbox-border-focus;
        background-image: linear-gradient(lighten($frost-checkbox-selected, 50%), lighten($frost-checkbox-selected, 45%));
      }
    }

    &:active {
      &::before {
        border: 1px solid $frost-checkbox-border-active;
      }
    }
  }

  input {
    &[disabled] {
      + {
        .label {
          &::before {
            border: 1px solid $frost-checkbox-border-disabled;
            background-image: linear-gradient($frost-checkbox-disabled, $frost-checkbox-disabled);
          }
        }
      }
    }

    &:not([disabled]) {
      + {
        .label {
          &.label {
            &:hover {
              &::before {
                background-image: linear-gradient(lighten($frost-checkbox-selected, 50%), lighten($frost-checkbox-selected, 45%));
              }
            }
          }
        }
      }
    }
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    fill: $frost-checkbox-selected;
  }
}
