.frost-toggle-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &.disabled {
    opacity: 0.4;
  }

  .frost-toggle {
    display: none;

    &:checked {

      +.frost-toggle-btn:after {
        left: 50%;
      }

      +.frost-toggle.frost-toggle-btn {
        background-color: $frost-color-lgrey-1;
      }
    }
  }

  .frost-toggle-btn.frost-toggle-disabled {
    cursor: not-allowed;
  }

  .frost-toggle-btn {
    outline: 0;
    display: flex;
    position: relative;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    &.frost-toggle {
      background-color: $frost-color-blue-1;
      transition: background-color 0.2s;

      &.medium {
        width: 115px;
        height: 35px;
        padding: 3px;
        border-radius: 3px;
      }

      &:after {
        background-color: $frost-color-white;
        transition: left 0.2s;
        border-radius: 3px;
      }
    }

    &:before,
    &:after {
      position: absolute;
      display: block;
      content: "";
      width: 40px;
      height: 27px;
      margin: 0 0 0 10px;
    }

    &:after {
      left: 0;
    }
    &:before {
      display: none;
    }

    .frost-toggle-text {
      flex: 1;
      text-align: center;

      &.off {
        color: black;
      }
      &.on {
        color: white;
      }
    }
  }
}
