.frost-radio-button {
  padding: 2px;
  outline: 0;

  &.error {
    svg {
      .ring {
        fill: $frost-radio-fill-error;
      }
    }
  }

  &.small {
    > .label {
      &::before  {
        width: 20px;
        height: 20px;
      }
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &.medium {
    > .label {
      &::before {
        width: 25px;
        height: 25px;
      }
    }

    svg {
      width: 25px;
      height: 25px;
    }
  }

  &.large {
    > .label {
      &::before {
        width: 30px;
        height: 30px;
      }
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }

  label {
    cursor: pointer;

    svg {
      margin-right: 5px;
      vertical-align: middle;

      .inner {
        transition: fill .2s ease;
        fill: transparent;
      }

      .ring {
        transition: fill .2s ease;
        fill: $frost-radio-fill-default;
      }
    }
  }

  .frost-radio-button-input {
    display: none;
  }

  &.checked {
    &:not(.disabled) {
      label {
        svg {
          .inner {
            fill: $frost-radio-checked;
          }
        }
      }
    }
  }

  &:hover,
  &:focus {
    &:not(.disabled) {
      &:not(.checked) {
        label {
          svg {
            .inner {
              fill: $frost-radio-hover;
            }
          }
        }
      }
    }
  }

  &.disabled {
    label {
      color: $frost-radio-disabled;
      cursor: default;
    }

    &.checked {
      label {
        svg {
          .inner {
            fill: $frost-radio-disabled;
          }
        }
      }
    }
  }
}
