.frost-password {
  padding-right: 36px;

  &-reveal {
    position: relative;
    left: -35px;
    top: 7px;
    width: 24px;
    height: 24px;
    cursor: pointer;

    .revealed {
      display: none;
    }
  }

  & ~ .frost-password-reveal ~ .frost-text-clear {
    left: -90px;
  }

  // .frost-text > input {
  //   padding-right: 36px;
  // }

  // &.revealable {
  //   .frost-icon {
  //     max-height: 16px;
  //     max-width: 16px;
  //   }

  //   .frost-text .clear {
  //     margin-left: -40px;
  //     margin-right: 25px;
  //   }

  //   .frost-button {
  //     margin-left: -20px;
  //     width: 15px;
  //     height: 15px;
  //   }
  // }

  // .row {
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;
  // }

  // .warning {
  //   font-size: 10px;
  //   color: $frost-color-blue-1;
  //   margin-left: 5px;
  // }

  // .reveal-warning {
  //   font-size: 10px;
  //   color: $frost-color-blue-1;
  //   margin-left: 10px;
  // }
}
