$border: 1px solid $frost-color-input-border;
$error-border: 1px solid $frost-color-input-error-border;
$focus-border: 2px solid $frost-color-input-focus-border;
$hover-border: 1px solid $frost-color-input-focus-border;
$disabled-border: 1px solid $frost-color-input-disabled-border;
$disabled-bg: $frost-color-input-disabled-bg;

.frost-textarea {
  display: flex;
  position: relative;

  &.error .frost-textarea-input {
    border: $error-border;
    margin: $error-margin;
    color: $frost-color-danger;

    &:hover:enabled:read-write:not(:focus) {
      border: $error-border;
    }
  }
}

.frost-textarea-input {
  padding: 5px;
  padding-right: 30px;
  border: $border;
  font-size: $frost-font-s;
  color: $frost-color-grey-1;
  resize: none;

  &:disabled {
    border: $disabled-border;
    background-color: $disabled-bg;
  }

  &:focus {
    margin: -1px;
    border: $focus-border;
    outline: none;
  }

  &:hover:enabled:read-write:not(:focus) {
      border: $hover-border;
      outline: none;
  }

  &:read-only {
    border: none;
    cursor: default;
  }
}

.frost-textarea-clear {
  position: relative;
  width: 23px;
  height: 23px;
  right: 26px;
  top: 7px;
  opacity: 0;
  fill: $frost-color-grey-6;
  pointer-events: none;
  transition: opacity 0.2s ease;

  &:focus {
    outline: none;
  }
}

.frost-textarea.is-clear-visible .frost-textarea-clear {
  opacity: 1;
}

.frost-textarea.is-clear-enabled .frost-textarea-clear {
  cursor: pointer;
  pointer-events: auto;
}
