$frost-color-link-primary-focus-bg: $frost-color-blue-4;
$frost-color-link-primary-pressed-bg: #1e9de5;
$frost-color-link-secondary-pressed-bg: #e7eef3;
$frost-color-link-focus-box-shadow: 0 1px 6px rgba(0,158,239, 0.75);

// info-bar style
$frost-color-link-info-bar-bg: $frost-color-white;
$frost-color-link-info-bar-bg-hover: rgba($frost-color-blue-1, 0.05);
$frost-color-link-info-bar-focus: 0 1px 6px rgba($frost-color-blue-1, 0.75);
$frost-color-link-info-bar-active:  rgba($frost-color-blue-1, 0.1);

// in-line style
$frost-color-link-in-line-darken-1: darken($frost-color-blue-1, 8);
$frost-color-link-in-line-darken-2: darken($frost-color-blue-1, 15);

.frost-link {
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  font-family: $frost-font-family;

   &.disabled {
    border: none;
    cursor: default;

     &:hover {
      background-color: inherit
    }
  }

  &:focus, &:active {
    outline: none;
  }

  &.hidden {
    visibility: hidden;
  }


  // ----------------------
  // Priority based coloring
  // ----------------------

  // priority = 'primary'
  &.primary {
    border: none;
    background: linear-gradient(lighten($frost-color-blue-1, 14), $frost-color-blue-1);
    color: $frost-color-white;

    &:hover {
      background: $frost-color-blue-3;
    }

    &:focus {
      border: 2px solid $frost-color-link-primary-focus-bg;
      box-shadow: $frost-color-link-focus-box-shadow;
      outline:0;
    }

    &:active {
      &:not(.disabled) {
        box-shadow:none;
        background: $frost-color-link-primary-pressed-bg;
        .content {
          opacity: 0.5;
        }
      }
    }

    &.disabled {
      box-shadow: none;
      opacity: 0.25;

      &:hover {
        background: linear-gradient(lighten($frost-color-blue-1, 14), $frost-color-blue-1);
      }
      &:focus {
        border: none;
      }
    }
  }

  // priority = 'secondary'
  &.secondary {
    border: 2px solid $frost-color-blue-1;
    background-color: $frost-color-white;
    color: $frost-color-blue-1;

    .text {
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: white;
        }

    &:hover {
      background-color:rgba($frost-color-blue-1, 0.05);
      box-shadow: none;
      &:not(.disabled) {
        .text {
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: $frost-color-blue-1;
        }
      }
    }

    &:focus {
      outline:0;
      box-shadow: $frost-color-link-focus-box-shadow;

      &:not(.disabled) {
        .text {
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: $frost-color-blue-1;
        }
      }
    }

    &:active {
      box-shadow: none;
      background: $frost-color-link-secondary-pressed-bg;

      &:not(.disabled) {
        .content {
          opacity: 0.5;
        }

        .text{
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: $frost-color-blue-1;
        }
      }
    }

    &.disabled {
      box-shadow: none;
      opacity: 0.25;

      &:hover {
        background: none;
      }
    }
  }

  // ----------------------
  // Design based coloring
  // ----------------------

  // design = 'in-line'
  &.in-line {
    background-color: inherit;
    margin-bottom: -7px;

    > .content {
      min-width: inherit;
    }

    .text {
      color: $frost-color-blue-1;
      border-bottom: 1px solid $frost-color-blue-1;
    }

    &:hover:not(.disabled) {
      background-color: $frost-color-link-info-bar-bg-hover;
      box-shadow: none;

      .text {
        color: $frost-color-link-in-line-darken-1;
        border-bottom: 1px solid $frost-color-link-in-line-darken-1;
      }
      background-color:rgba($frost-color-blue-1, 0.05);
    }

    &:focus:not(.disabled) {
      outline: 0;
      box-shadow: $frost-color-link-info-bar-focus;

      .text {
        color: $frost-color-link-in-line-darken-1;
        border-bottom: 1px solid $frost-color-link-in-line-darken-1;
      }
    }

    &:active:not(.disabled) {
      background-color: $frost-color-link-info-bar-active;
      opacity: 0.7;
      color: $frost-color-blue-1;
      box-shadow: none;

      .text {
        box-shadow: none;
        color: $frost-color-link-in-line-darken-2;
        border-bottom: 1px solid $frost-color-link-in-line-darken-2;
      }
    }

    &.disabled {
      opacity: 0.3;
      background: none;
      box-shadow: none;
    }
  }

  // design = 'info-bar'
  &.info-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75px;
    height: 75px;
    background-color: $frost-color-link-info-bar-bg;
    color: $frost-color-blue-1;

    .frost-icon  {
      margin-left: -10px;
      padding-bottom: 0px;
      width: 30px;
      height: 30px;
    }

    .text {
      display: inline-block;
      padding: 5px 1px 2px 1px;
      margin-top: -5px;
      font-size: $frost-font-s;
      color: $frost-color-blue-1;
      line-height: 1;
    }

    > .content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      box-sizing: border-box;

      .text {
        vertical-align: middle;
        text-align: center;
        padding: 0 1px 2px 1px;
      }

      .svg {
        margin-bottom: 10px;
        .frost-icon {
          vertical-align: middle;
        }
      }
    }

    &:hover:not(.disabled) {
      background-color: $frost-color-link-info-bar-bg-hover;
      box-shadow: none;

      .text{
          border-bottom-width: 1px;
          border-bottom-style: solid;
        }
    }

    &:focus:not(.disabled) {
      outline:0;
      box-shadow: $frost-color-link-info-bar-focus;

      .text{
        border-bottom-width: 1px;
        border-bottom-style: solid;
      }
    }

    &:active:not(.disabled) {
      background-color: $frost-color-link-info-bar-active;
      opacity: 0.7;
      color: $frost-color-blue-1;
      box-shadow: none;

      .text{
        border-bottom-width: 1px;
        border-bottom-style: solid;
      }
    }

    &.disabled {
      box-shadow: none;
      opacity: 0.25;

      &:hover {
        background: none;
      }
    }
  }

  // ----------------------
  // Sizes
  // ----------------------

  // size = 'large'
  &.large {
    height: 50px;
    font-size: $frost-font-l;
    padding: 0 20px;


    .frost-icon {
      width: 40px;
      height: 40px;
    }
  }

  // size = 'medium'
  &.medium {
    padding: 0 20px;
    height: 40px;
    font-size: $frost-font-m;

    .frost-icon {
      width: 30px;
      height: 30px;
    }
  }

  // size = 'small'
  &.small {
    height: 30px;
    font-size: $frost-font-s;
    padding: 0 10px;

    .frost-icon {
      width: 20px;
      height: 20px;
    }
  }

  > .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    min-width: 120px;

    .text {
      vertical-align: middle;
      text-align: center;
      padding: 0 1px 2px 1px;
    }

    .svg {
      margin-left: 10px;

      .frost-icon {
        vertical-align: middle;
      }
    }
  }
}
