.frost-password {
  display: block;
  position: relative;
  width: 175px;

  &.revealable {
    padding-right: 70px;

    .frost-text-clear {
      right: 50px;
    }
  }
}

.frost-password-reveal {
  display: inline-block;
  position: absolute;
  height: 33px;
  width: 45px;
  top: 2px;
  right: 0;
  border-left: 1px solid $frost-color-lgrey-2;
  line-height: 35px;
  vertical-align: middle;
  text-align: center;
  font-size: $frost-font-xs;
  color: $frost-color-blue-1;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.frost-text.is-clear-visible .frost-text-clear {
  opacity: 1;
}

.frost-text.is-clear-enabled .frost-text-clear {
  cursor: pointer;
  pointer-events: auto;
}

// .frost-password-reveal {
//   display: inline-block;
//   position: relative;
//   left: -46px;
//   top: -2px;
//   height: 33px;
//   width: 45px;
//   line-height: 35px;
//   border-left: 1px solid $frost-color-lgrey-2;
//   font-size: $frost-font-xs;
//   color: $frost-color-blue-1;
//   vertical-align: center;
//   text-align: center;
//   cursor: pointer;

//   & ~ .frost-password-reveal ~ .frost-text-clear {
//     left: -117px;
//   }

//   &-caps-warning {
//     position: relative;
//     top: -2px;
//     left: -20px;
//     font-size: $frost-font-xs;
//     color: $frost-color-danger;
//     opacity: 0;
//     transition: opacity 0.2s ease;
//   }

//   & ~ .frost-password-reveal ~ .frost-password-caps-warning {
//     left: -65px;
//   }
// }
