// FIXME Move variables into theme
$border: 1px solid $frost-color-input-border;
$color: $frost-color-input;
$error-border: 1px solid $frost-color-input-error-border;
$error-margin: 1px; // Note: margin + border width equals border width of focus state
$focus-border: 1px solid $frost-color-input-focus-border;
$hover-border: 1px solid $frost-color-input-hover-border;
$focus-margin: 0;
$disabled-border: 1px solid $frost-color-input-disabled-border;
$disabled-bg: $frost-color-input-disabled-bg;
$font-size: $frost-font-m;
$height: 35px;
$margin: 1px; // Note: margin + border width equals border width of focus state
$padding: 0 30px 0 8px;

.frost-text {
  display: block;
  position: relative;
  width: 175px;
}

.frost-text-input {
  display: inline-block;
  width: 100%;
  border: $border;
  color: $color;
  font-size: $font-size;
  height: $height;
  margin: $margin;
  outline: none;
  padding: $padding;
  font-weight: 200;
  transition: border 0.2s ease;

  &.right {
    text-align: right;
  }

  &:focus {
    border: $focus-border;
  }

  &:read-only {
    border: none;
  }

  &:disabled {
    border: $disabled-border;
    background-color: $disabled-bg;
  }

  &:hover:enabled:read-write:not(:focus) {
    border: $hover-border;
  }
}

.frost-text.error .frost-text-input {
  border: $error-border;
  margin: $error-margin;

  &:hover:enabled:read-write:not(:focus) {
    border: $error-border;
  }
}

.frost-text-clear {
  display: inline-block;
  position: absolute;
  width: 23px;
  height: 23px;
  right: 5px;
  top: 7px;
  opacity: 0;
  fill: $frost-color-grey-6;
  pointer-events: none;
  transition: opacity 0.2s ease;

  &:focus {
    outline: none;
  }
}

.frost-text.is-clear-visible .frost-text-clear {
  opacity: 1;
}

.frost-text.is-clear-enabled .frost-text-clear {
  cursor: pointer;
  pointer-events: auto;
}
