$error-border: 1px solid $frost-color-input-error-border;
$error-margin: 1px; // Note: margin + border width equals border width of focus state

.frost-password {
  display: block;
  position: relative;
  min-width: 175px;

  &.revealable {
    .frost-text-clear {
      right: 50px;
    }

    .frost-text-input {
      padding-right: 75px;
    }
  }

  &.error .frost-text-input {
    border: $error-border;
    margin: $error-margin;

    &:hover:enabled:read-write:not(:focus) {
      border: $error-border;
    }
  }
}

.frost-password-reveal {
  display: inline-block;
  position: absolute;
  height: 33px;
  width: 45px;
  top: 2px;
  right: 0;
  border-left: 1px solid $frost-color-lgrey-2;
  line-height: 35px;
  vertical-align: middle;
  text-align: center;
  font-size: $frost-font-xs;
  color: $frost-color-blue-1;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
