$frost-input-select-option-row-height: 35px;
$frost-select-disabled-background-color: $frost-color-lgrey-3;
$frost-select-disabled-border-color: $frost-color-lgrey-1;
$frost-select-disabled-color: $frost-color-grey-6;
$frost-select-error-border-color: $frost-color-danger;
$frost-select-focused-border-color: $frost-color-blue-1;
$frost-select-height: 35px;
$frost-select-normal-border-color: $frost-color-grey-7;
$frost-select-placeholder-color: $frost-color-grey-6;

@mixin triangle-down($color, $size) {
  border-top: $size solid $color;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  height: 0;
  width: 25px;
}

@mixin triangle-up($color, $size) {
  border-bottom: $size solid $color;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  height: 0;
  width: 25px;
}

.frost-select {
  align-items: center;
  background-color: $frost-color-white;
  border: 1px solid $frost-select-normal-border-color;
  cursor: pointer;
  display: flex;
  height: $frost-select-height;
  min-width: 175px;
  position: relative;

  polygon {
    fill: $frost-select-indicator;
  }

  svg {
    height: 20px;
    position: absolute;
    right: 10px;
    top: 7px;
    width: 20px;
  }
}

.frost-select-clear {
  float: right;
}

.frost-select-disabled {
  background-color: $frost-select-disabled-background-color;
  border-color: $frost-select-disabled-border-color;
  color: $frost-select-disabled-color;
}

.frost-select-down-arrow {
  @include triangle-down($frost-select-container-background, 12px);
  display: inline-block;
  overflow: visible;
  pointer-events: none;
  position: fixed;
  z-index: 9003;
}

.frost-select-dropdown-empty-msg {
  color: $frost-color-grey-3;
  padding: 6px;
}

.frost-select-error {
  border-color: $frost-select-error-border-color;

  polygon {
    fill: $frost-select-indicator;
  }
}

.frost-select-focused {
  border-color: $frost-select-focused-border-color;
  outline: none;

  polygon {
    fill: $frost-select-focused-border-color;
  }
}

.frost-select-dropdown {
  position: fixed;
  height: auto;
  opacity: 1;
  z-index: 2;
  pointer-events: auto;
  background: $frost-select-container-background;
  border: 1px solid $frost-color-lgrey-3;
  border-radius: 3px;
  box-shadow: 0 2px 7px 3px transparentize($frost-select-container-shadow, .4);
  transition: height .4s ease, opacity .2s ease;
  z-index: 9002;
  overflow-y: auto;

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    height: auto;
  }

  .frost-text {
    width: auto;
    min-width: auto;
  }

  .multi-status {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px $frost-color-lgrey-3;
    padding: 5px;
    font-size: $frost-font-m;

    .number-selected {
      color: $frost-color-grey-5;
    }
  }
}

.frost-select-list-item {
  border-bottom: solid 1px $frost-color-lgrey-3;
  color: $frost-color-grey-3;
  cursor: pointer;
  display: inline-block;
  flex: 1 0 auto;
  height: $frost-input-select-option-row-height;
  line-height: $frost-input-select-option-row-height;
  overflow: hidden;
  padding: 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  .frost-checkbox {
    input {
      visibility: hidden;
    }
    pointer-events: none;
    box-sizing: content-box;
    position: relative;
    top: -2px;
    svg {
      top: 6px;
      left: 2px;
    }
  }
}

.frost-select-list-item-focused {
  background: transparentize($frost-selection, .92);
}

.frost-select-list-item-selected {
  color: $frost-color-grey-2;
}

.frost-select-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9001;
}

.frost-select-placeholder {
  color: $frost-select-placeholder-color;
}

.frost-select-text {
  overflow: hidden;
  padding-left: 5px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 30px);
}

.frost-select-up-arrow {
  @include triangle-up($frost-select-container-background, 12px);
  display: inline-block;
  overflow: visible;
  pointer-events: none;
  position: fixed;
  z-index: 9003;
}
