$frost-select-disabled-background-color: $frost-color-lgrey-3;
$frost-select-disabled-border-color: $frost-color-lgrey-1;
$frost-select-disabled-color: $frost-color-grey-6;
$frost-select-error-border-color: $frost-color-danger;
$frost-select-focused-border-color: $frost-color-blue-1;
$frost-select-normal-border-color: $frost-color-grey-7;
$frost-select-height: 35px;

.frost-select {
  border: 1px solid $frost-select-normal-border-color;
  height: $frost-select-height;
  min-width: 175px;

  &.disabled {
    background-color: $frost-select-disabled-background-color;
    border-color: $frost-select-disabled-border-color;
    color: $frost-select-disabled-color;
  }

  &.error {
    border-color: $frost-select-error-border-color;
  }

  &.focused {
    border-color: $frost-select-focused-border-color;
    outline: none;
  }
}
