$frost-color-error-description: $frost-color-grey-1 !global;
$frost-color-error-suggestion: $frost-color-grey-1 !global;
$frost-color-error-http: $frost-color-grey-5 !global;
$frost-color-error-server-message: $frost-color-grey-6 !global;

.frost-error {
  font-family: $frost-font-family;
  display: inline-block;


  .frost-error-description {
    color: $frost-color-error-description;
    font-size: $frost-font-xxl;
    margin-bottom: 10px;
  }

  .frost-error-suggestion {
    color: $frost-color-error-suggestion;
    font-size: $frost-font-l;
    margin-bottom: 15px;
  }

  .frost-error-http-error {
    color: $frost-color-error-http;
    font-size: $frost-font-m;
    margin-bottom: 5px;
  }

  .frost-error-message {
    color: $frost-color-error-server-message;
    font-size: $frost-font-s;
    margin-bottom: 20px;
  }

  .frost-error-expand {
    width: 600px;
    max-height: 400px;

    .frost-error-details {
      white-space: pre-line;
    }
  }
}
