$frost-toggle-button-height: 35px;
$frost-toggle-button-switch-height: 27px;


$frost-toggle-off-color: #000;
$frost-toggle-on-color: #fff;

.frost-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.disabled {
    opacity: .4;
  }

  .frost-toggle-input {
    display: none;

    &.is-toggled {
      + {
        .frost-toggle-button {
          background-color: $frost-color-blue-1;

          &:after {
            right: 50%;
          }
        }
      }
    }
  }

  .frost-toggle-button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: background-color .2s;
    outline: 0;
    background-color: $frost-color-lgrey-1;
    cursor: pointer;

    &.disabled {
      cursor: default;
    }

    &.medium {
      width: 115px;
      height: $frost-toggle-button-height;
      padding: 3px;
      border-radius: 3px;
    }

    &:before,
    &:after {
      display: block;
      position: absolute;
      width: 40px;
      height: $frost-toggle-button-switch-height;
      margin: 0 10px 0 0;
      content: '';
    }

    // This is a fix for firefox where the box overlay on the toggle had an improper offset
    @-moz-document url-prefix() {
      &:before,
      &:after {
        margin-top: -14px;
      }
    }

    &:after {
      top: calc(50% - (#{$frost-toggle-button-switch-height} / 2));
      right: 0;
      transition: right .2s;
      border-radius: 3px;
      background-color: $frost-color-white;
    }

    &:before {
      display: none;
    }

    .frost-toggle-text {
      flex: 1;
      text-align: center;

      &.off {
        color: $frost-toggle-off-color;
      }

      &.on {
        color: $frost-toggle-on-color;
      }
    }
  }
}
