.frost-password {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .frost-text > input {
    padding-right: 36px;
  }

  &.revealable {

    .frost-text .clear {
      margin-left: -40px;
      margin-right: 25px;
    }

    .frost-button {
      margin-left: -20px;
      width: 15px;
      height: 15px;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .warning {
    font-size: 10px;
    color: $frost-color-blue-1;
    margin-left: 5px;
  }

  .reveal-warning {
    font-size: 10px;
    color: $frost-color-blue-1;
    margin-left: 10px;
  }
}
