// The content of this file must stay in sync
// with app/styles/ember-frost-core/_z-index
// Any changes here should be duplicated in there

// TODO Proper aliases - the following are samples
$frost-z-index-application-bar: 9000;
$frost-z-index-navigation: 8000;
$frost-z-index-notification: 7000;
$frost-z-index-modal: 6000;


