@import 'node_modules/ember-frost-theme/scss/frost-theme';
@import 'frost-text';
@import 'frost-textarea';
@import 'frost-password';

.frost-checkbox {
  display: inline-block;
  position: relative;

  &.error {
    > .label::before {
      border: 1px solid $frost-color-input-error-border;
    }
  }

  .input[type=checkbox] {
      position: absolute;
      top: 2px;
      left: 2px;
      outline: none;
      display: none;
  }

  .label {
    display: inline-block;
    position: relative;
    font-size: $frost-font-s;
    color: $frost-color-grey-5;
    user-select: none;
    cursor: pointer;

    &::before {
      display: inline-block;
      position: relative;
      min-width: 20px;
      min-height: 20px;
      background-image: linear-gradient($frost-color-white, $frost-color-input-disabled-bg);
      margin-right: 5px;
      border: 1px solid $frost-color-grey-6;
      vertical-align: middle;
      content: "";
    }
  }

  input[disabled] + .label::before {
    border: 0;
    background-image: linear-gradient($frost-color-input-disabled-bg, $frost-color-input-disabled-bg);
  }

  input:not([disabled]) + .label.label:hover::before {
    background-image: linear-gradient(lighten($frost-color-blue-1, 50%), lighten($frost-color-blue-1, 45%));
  }

  svg {
    visibility: hidden;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0px;
    fill: $frost-color-blue-1;
  }

  .input {
    &:checked + .label svg {
      visibility: visible;
    }

    &:checked:disabled + .label svg {
      fill: $frost-color-grey-6;
    }

    &:focus + .label::before {
      background-image: linear-gradient(lighten($frost-color-blue-1, 50%), lighten($frost-color-blue-1, 45%));
      border: 1px solid red;
    }
  }
}


.frost-icon {
  .frost-icon-chevron {
    fill: $frost-color-grey-5;
  }

  .frost-icon-close-circle {
    fill: $frost-color-blue-1;
  }

  .frost-icon-link {
  // No default fill - determined by the frost-link class
  }
}

