.header-1 {
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: $frost-font-family;
  font-size: $frost-font-l;
}

.header-2 {
  padding-bottom: 5px;
  padding-top: 10px;
  font-family: $frost-font-family;
  font-size: $frost-font-m;
}

.header-3 {
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: $frost-font-family;
  font-size: $frost-font-s;
  text-decoration: underline;
}

.swatches {
  display: table;
  border-spacing: 5px;

  .swatch {
    display: table-row;

    .content {
      display: table-cell;
      padding-left: 10px;
      width: 200px;
      height: 20px;
    }

    .text {
      font-family: $frost-font-family;
      font-size: $frost-font-s;
    }
  }
}

// Whites
.white {
  background-color: $frost-color-white;
  border: solid 1px black;
}

// Blues
.blue-1 {
  background-color: $frost-color-blue-1;
}
.blue-2 {
  background-color: $frost-color-blue-2;
}
.blue-3 {
  background-color: $frost-color-blue-3;
}
.blue-4 {
  background-color: $frost-color-blue-4;
}

// Nights
.night-1 {
  background-color: $frost-color-night-1;
}
.night-2 {
  background-color: $frost-color-night-2;
}
.night-3 {
  background-color: $frost-color-night-3;
}

// Oranges
.orange-1 {
  background-color: $frost-color-orange-1;
}
.orange-2 {
  background-color: $frost-color-orange-2;
}
.orange-3 {
  background-color: $frost-color-orange-3;
}

// Greens
.green-1 {
  background-color: $frost-color-green-1;
}
.green-2 {
  background-color: $frost-color-green-2;
}
.green-3 {
  background-color: $frost-color-green-3;
}
.green-4 {
  background-color: $frost-color-green-4;
}
.green-5 {
  background-color: $frost-color-green-5;
}

// Teals
.teal-1 {
  background-color: $frost-color-teal-1;
}
.teal-2 {
  background-color: $frost-color-teal-2;
}
.teal-3 {
  background-color: $frost-color-teal-3;
}
.teal-4 {
  background-color: $frost-color-teal-4;
}

// Lilacs
.lilac-1 {
  background-color: $frost-color-lilac-1;
}
.lilac-2 {
  background-color: $frost-color-lilac-2;
}
.lilac-3 {
  background-color: $frost-color-lilac-3;
}

// Greys
.grey-1 {
  background-color: $frost-color-grey-1;
}
.grey-2 {
  background-color: $frost-color-grey-2;
}
.grey-3 {
  background-color: $frost-color-grey-3;
}
.grey-4 {
  background-color: $frost-color-grey-4;
}
.grey-5 {
  background-color: $frost-color-grey-5;
}
.grey-6 {
  background-color: $frost-color-grey-6;
}

// Light Greys
.lgrey-1 {
  background-color: $frost-color-lgrey-1;
}
.lgrey-2 {
  background-color: $frost-color-lgrey-2;
}
.lgrey-3 {
  background-color: $frost-color-lgrey-3;
}
.lgrey-4 {
  background-color: $frost-color-lgrey-4;
}
.lgrey-5 {
  background-color: $frost-color-lgrey-5;
}

//Status
.positive {
  background-color: $frost-color-positive;
}
.neutral {
  background-color: $frost-color-neutral;
}
.danger {
  background-color: $frost-color-danger;
}

// Font Family
.font-family-1 {
  font-family: Roboto;
}

.font-family-2 {
  font-family: Arial;
}

.font-family-3 {
  font-family: sans-serif;
}

// Font Size
.font-xxxl {
  font-size: $frost-font-xxxl;
}

.font-xxl {
  font-size: $frost-font-xxl;
}

.font-xl {
  font-size: $frost-font-xl;
}

.font-l {
  font-size: $frost-font-l;
}

.font-m {
  font-size: $frost-font-m;
}

.font-s {
  font-size: $frost-font-s;
}

.font-xs {
  font-size: $frost-font-xs;
}
