<div class='row'>
  {{frost-text
    id=componentId
    value=value
    class=class
    type=type
    onBlur=(action 'onBlur')
    onInput=(action "onInput")
    disabled=disabled}}
  {{#if revealable}}
    {{#if isRevealerVisible}}
      {{#frost-button
        size='none'
        priority='none'
        tabIndex='-1'
        onClick=(action "toggleReveal")}}
        {{frost-icon icon=revealIcon}}
      {{/frost-button}}
    {{/if}}
  {{/if}}

  {{#if isCapsAndReveal}}
    <div class='reveal-warning'>Caps on</div>
  {{else if isCapsOn}}
    <div class='warning'>Caps on</div>
  {{/if}}
</div>
