{{! Template for the frost-select-li component }}
{{#if multiselect}}
  {{frost-checkbox
    checked=data.selected
    hook=(concat hook '-checkbox')
    hookQualifiers=hookQualifiers
    size='medium'
  }}
{{/if}}
<span class="frost-select-list-item-text" data-text={{fullText}}>
  {{label}}
</span>
