{{one-way-input
    type='checkbox'
    id=inputId
    class='input'
    checked=isChecked
    disabled=disabled
    name=name
    update=(action 'input')
}}
<label for={{inputId}} class='label'>{{label}}
  <svg xmlns='http://www.w3.org/2000/svg' viewBox='3 2 31 31'>
    <rect xmlns='http://www.w3.org/2000/svg'  x='10.7' y='15.3' transform='matrix(-0.7071 0.7071 -0.7071 -0.7071 35.6974 26.188)' fill='%23009EEF' width='3.5' height='10.3'/>
    <polygon xmlns='http://www.w3.org/2000/svg'  fill='%23009EEF' points='14.9,25.4 12.4,22.9 26.2,9.4 28.7,12.1'/>
  </svg>
</label>
