{{! Template for the frost-password component }}
{{frost-text
  autofocus=autofocus
  class='frost-password-input'
  disabled=disabled
  form=form
  hook=hookPrefix
  maxlength=maxlength
  placeholder=placeholder
  readonly=readonly
  required=required
  selectionDirection=selectionDirection
  tabindex=tabindex
  title=title
  type=type
  value=value

  onChange=_eventProxy.change
  onClick=_eventProxy.click
  onContextMenu=_eventProxy.contextMenu
  onDoubleClick=_eventProxy.doubleClick
  onDrag=_eventProxy.drag
  onDragEnd=_eventProxy.dragEnd
  onDragEnter=_eventProxy.dragEnter
  onDragLeave=_eventProxy.dragLeave
  onDragOver=_eventProxy.dragOver
  onDragStart=_eventProxy.dragStart
  onDrop=_eventProxy.drop
  onFocusIn=_eventProxy.focusIn
  onFocusOut=_eventProxy.focusOut
  onInput=_eventProxy.input
  onKeyDown=_eventProxy.keyDown
  onKeyPress=_eventProxy.keyPress
  onKeyUp=_eventProxy.keyUp
  onMouseDown=_eventProxy.mouseDown
  onMouseEnter=_eventProxy.mouseEnter
  onMouseLeave=_eventProxy.mouseLeave
  onMouseMove=_eventProxy.mouseMove
  onMouseUp=_eventProxy.mouseUp
  onSubmit=_eventProxy.submit
  onTouchCancel=_eventProxy.touchCancel
  onTouchEnd=_eventProxy.touchEnd
  onTouchMove=_eventProxy.touchMove
  onTouchStart=_eventProxy.touchStart

  onEnter=_eventProxy.enter
  onEscape=_eventProxy.escape-press
}}
{{#if revealable}}
  <div class='frost-password-reveal' data-test={{hook (concat hookPrefix '-reveal')}} onclick={{action (action 'toggleReveal')}}>
    {{revealMessage}}
  </div>
{{/if}}
