{{! Template for the frost-select component }}
<span class="frost-select-text">
  {{or text placeholder}}
</span>

<svg viewBox="0 0 15 15">
  <polygon points="7.5,11.4 1.1,5 2.5,3.6 7.5,8.6 12.5,3.6 13.9,5"/>
</svg>

{{#if opened}}
  {{to-elsewhere
    named=renderTarget
    send=(component frostSelectDropdownName
      $element=$element
      filter=filter
      hook=hook
      items=items
      multiselect=multiselect
      onClose=(action 'closeDropDown')
      onFilterInput=(action 'filterInput')
      onSelect=(action 'selectItem')
      selectedItems=selectedItems
      wrapLabels=wrapLabels
      filterType=filterType
    )
  }}
{{/if}}
