<div class="dummy-body">
  <div class="title">frost-core</div>

  <li class='list-item'>
    {{#frost-link 'button'}}Button{{/frost-link}}
  </li>
  <li class='list-item'>
    {{#frost-link 'checkbox'}}Checkbox{{/frost-link}}
  </li>
  <li class='list-item'>
    {{#frost-link 'icons'}}Icons{{/frost-link}}
  </li>
  <li class='list-item'>
    {{#frost-link 'field'}}Text input field{{/frost-link}}
  </li>
  <li class='list-item'>
    {{#frost-link 'area'}}Text input area{{/frost-link}}
  </li>
  <li class='list-item'>
    {{#frost-link 'password'}}Password{{/frost-link}}
  </li>
  <li class='list-item'>
    {{#frost-link 'palette'}}Color palette{{/frost-link}}
  </li>
  <li class='list-item'>
    {{#frost-link 'typography'}}Typography{{/frost-link}}
  </li>
</div>
{{outlet}}
