<div class="dummy-body">
  <div class="title">frost-core</div>

  <li class='list-item'>
    {{#frost-link 'button'}}Button{{/frost-link}}
  </li>
  <li class='list-item'>
    {{#frost-link 'checkbox'}}Checkbox{{/frost-link}}
  </li>
  <li class='list-item'>
    {{#frost-link 'icons'}}Icons{{/frost-link}}
  </li>

  <li class='list-item'>Text Input
    <ul>
      <li class='list-item'>
        {{#frost-link 'field'}}Field{{/frost-link}}
      </li>
      <li class='list-item'>
        {{#frost-link 'area'}}Area{{/frost-link}}
      </li>
      <li class='list-item'>
        {{#frost-link 'password'}}Password{{/frost-link}}
      </li>
    </ul>

  </li>
</div>
{{outlet}}
