
<div class="section">
  <div class="title">frost-core</div>

  <ul>
    <li>
    {{#frost-link 'checkbox'}}Checkbox{{/frost-link}}
    </li>
    <li>
    {{#frost-link 'icons'}}Icons{{/frost-link}}
    </li>
  </ul>
</div>
{{outlet}}
