<div class="dummy-body">
  <div class="section-title">frost-core</div>
  <hr>
  {{#each model.routes as |route|}}
    <li class='list-item'>
      {{#link-to route.routeName}}
        {{route.label}}
      {{/link-to}}
    </li>
  {{/each}}
</div>
{{outlet}}
