<div class="dummy-body">
  <div class="title">frost-core</div>

  <li class='list-item'>
    {{#frost-link 'checkbox'}}Checkbox{{/frost-link}}
  </li>
  <li class='list-item'>
    {{#frost-link 'icons'}}Icons{{/frost-link}}
  </li>
  <li class='list-item'>{{#frost-link "text-input.field"}}Textfield{{/frost-link}}</li>
  <li class='list-item'>{{#frost-link "text-input.password"}}Password{{/frost-link}}</li>
<!--  <li class='list-item'>{{!#link-to "text-input.area"}}Text area{{!/link-to}}</li>-->
</div>
{{outlet}}
