<div class="dummy-body">
  <div class="title">frost-core</div>

  <li class='list-item'>
    {{#frost-link 'checkbox'}}Checkbox{{/frost-link}}
  </li>
  <li class='list-item'>
    {{#frost-link 'icons'}}Icons{{/frost-link}}
  </li>
</div>
{{outlet}}
