<div class='dummy-body'>

  <div class="section-title">Frost Radio Button</div>
  <hr>

  <div class='section'>

    <div class='example'>
      <div class='demo'>
        {{#frost-radio-group
          id='checkboxGroup'
          value=model.checkboxGroup
          onChange=(action 'change')
        }}
          {{#each sampleList as |i|}}
            {{#frost-radio-button value=i disabled=(eq i 'a')}}
              Label for {{i}}
            {{/frost-radio-button}}
          {{/each}}
        {{/frost-radio-group}}
      </div>
      <div style='padding-bottom:10px' class='snippet'>
        {{format-markdown
"```handlebars
// id can be optionally specified, but acts as the group value for the checkboxes.
// a class property can also be specified
{{#frost-radio-group id='checkboxGroup' value=model.checkboxGroup onChange=(action 'change')}}
  {{#each sampleList as |i|}}
    {{#frost-radio-button value=i disabled=(eq i 'a')}}
      Label for {{i}}
    {{/frost-radio-button}}
  {{/each}}
{{/frost-radio-group}}```"}}
      </div>
      <div>
        {{format-markdown "```handlebars
import Ember from 'ember'
const {Controller} = Ember

export default Controller.extend({
  sampleList: ['a', 'b', 'c', 'd', 'e'],

  model: Ember.Object.create({
    checkboxGroup: 'c'
  }),

  actions: {
    change (event) {
      this.set(`model.${event.target.id}`, event.target.value)
      this.notifications.addNotification({
        message: `Radio group ${event.target.id} value set to ${event.target.value}`,
        type: 'success',
        autoClear: true,
        clearDuration: 2000
      })
    }
  }
})
```"}}
      </div>
    </div>

  </div>

</div>
