<div class='dummy-body'>

  <div class="section-title">Frost Radio Button</div>
  <hr>

  <div class='section'>
    <div class='example'>
      <div class='demo'>
        {{! BEGIN-SNIPPET radio }}
        {{#frost-radio-group
          hook='myCBGroup'
          id='radioGroup'
          value=model.radioGroup
          onChange=(action 'change')
        }}
          {{#each sampleList as |i|}}
            {{#frost-radio-button value=i disabled=(eq i 'a')}}
              Label for {{i}}
            {{/frost-radio-button}}
          {{/each}}
        {{/frost-radio-group}}
        {{! END-SNIPPET }}
      </div>
      <div style='padding-top:15px' class='snippet'>
        <div>Template</div>
        // id can be optionally specified, but acts as the group value for the radio buttons.
        // a class property can also be specified
        {{code-snippet name='radio.hbs'}}
        <br>
        <div>Controller</div>
        {{code-snippet name='radio-controller.js'}}
      </div>
    </div>
  </div>
</div>
