<div class='dummy-body'>

  <div class="section-title">Frost Radio Button</div>
  <hr>

  <div class='section'>

    <div class='example'>
      <div class='demo'>
        {{#frost-radio-group class='a' onChange='change' id='checkbox-group'}}
          {{#each sampleList as |i|}}
            {{#frost-radio-button value=i}}
              Label for {{i}}
            {{/frost-radio-button}}
          {{/each}}
        {{/frost-radio-group}}
      </div>
      <div style='padding-bottom:10px' class='snippet'>
        {{format-markdown
"```handlebars
// id can be optionally specified, but acts as the group value for the checkboxes.
{{#frost-radio-group class='custom-class' onChange='change' id='checkbox-group'}}
  {{#each sampleList as |i|}}
    // if the id of the parent frost-radio-group matches the value of the button, it becomes active
    {{#frost-radio-button value=i}}
      Label for {{i}}
    {{/frost-radio-button}}
  {{/each}}
{{/frost-radio-group}}```"}}
      </div>
      <div>
        {{format-markdown "```handlebars
export default Controller.extend({
  sampleList: [1,2,3,4,5],
  actions: {
    change (value) {
      this.notifications.addNotification({
        message: `Value changed to ${value}`,
        type: 'success',
        autoClear: true,
        clearDuration: 2000
      })
    }
  }
})```"}}
      </div>
    </div>

  </div>

</div>
