@import 'colors';
@import 'typography';
// ================================================================
// Aliased variables
// ================================================================

// == Global ==================================================

$frost-color-input: $frost-color-grey-2 !default;
$frost-color-input-border: $frost-color-grey-7 !default;
$frost-color-input-error-border: $frost-color-danger !default;
$frost-color-input-hover-border: $frost-color-grey-5 !default;
$frost-color-input-focus-border: $frost-color-blue-1 !default;
$frost-color-input-disabled-border: $frost-color-lgrey-1 !default;
$frost-color-input-disabled-bg: $frost-color-lgrey-3 !default;
$frost-color-selection: $frost-color-blue-1 !default;
$frost-color-button-focus-shadow: rgba($frost-color-blue-1, .75) !default;

// == Select ==================================================

$frost-color-select-container-background: $frost-color-white !default;
$frost-color-select-container-shadow: $frost-color-grey-5 !default;
$frost-color-select-footer-divider: $frost-color-blue-1 !default;
$frost-color-select-indicator: $frost-color-grey-5 !default;
$frost-color-select-item-divider: $frost-color-lgrey-1 !default;

// == Checkbox ================================================

$frost-checkbox-border-default: $frost-color-grey-6 !default;
$frost-checkbox-border-active: $frost-color-grey-3 !default;
$frost-checkbox-border-focus: $frost-color-grey-5 !default;
$frost-checkbox-border-error: $frost-color-input-error-border !default;
$frost-checkbox-border-disabled: $frost-color-lgrey-1 !default;
$frost-checkbox-label-default: $frost-color-grey-5 !default;
$frost-checkbox-selected: $frost-color-selection !default;
$frost-checkbox-disabled: $frost-color-input-disabled-bg !default;
$frost-checkbox-disabled-icon: $frost-color-grey-6 !default;

// == Radio ===================================================

$frost-radio-fill-error: $frost-color-input-error-border !default;
$frost-radio-fill-default: $frost-color-grey-5 !default;
$frost-radio-checked: $frost-color-blue-1 !default;
$frost-radio-hover: $frost-color-blue-4 !default;
$frost-radio-disabled: $frost-color-grey-5 !default;


// ================================================================
// Deprecated
// ================================================================

// TODO: deprecate the variables below in favor of the -color- ones above
// global
$frost-selection: $frost-color-blue-1 !global;

// select
$frost-select-container-background: $frost-color-white !global;
$frost-select-container-shadow: $frost-color-grey-5 !global;
$frost-select-footer-divider: $frost-color-blue-1 !global;
$frost-select-indicator: $frost-color-grey-5 !global;
$frost-select-item-divider: $frost-color-lgrey-1 !global;
